{% extends "layout.html" %}

{% block title %}
  Water Level Tracker
{% endblock %}
{% block extra %}
    <style type="text/css">
      #map {
        height: 600px;
        width: 100%;
      }
      .bottomMargin {
        padding-bottom: 100px;
      }
      h2 {
        text-align: center;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
    </style>

{% endblock %}

{% block main %}
    <div class="site-blocks-cover overlay inner-page" style="background-image: url(/static/images/hurricane1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="sub-text">Water</span>
            <h1>Level Tracker</h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <h2>Heatmap of Water Level Tracking - Coastal North Carolina</h2>
      <div class="container">
         <div class="row">
            <div class="col-lg-12 mb-0 mb-lg-0">
            <div id="map"></div>
            </div>
          </div>
        </div>
        
        <div class="bottomMargin"> </div>

     <script>
        function initMap(){
          // Map options
          var options = {
            zoom:10,
            center:{lat:34.1871,lng:-77.8824}
          }
    
          // New map
          var map = new google.maps.Map(document.getElementById('map'), options);

          // Array of markers
          var markers = JSON.parse('{{ markerdata | tojson | safe }}');
          console.log(markers);

          var heatmapData = [];

          // Loop through markers
          for(var i = 0; i < markers.length; i++){
            // Add marker
            var coords = markers[i].coords;
            var latLng = new google.maps.LatLng(coords.lat, coords.lng);
            console.log(latLng);
            heatmapData.push(latLng);
            // addMarker(markers[i]);
          }
          console.log(heatmapData);
          var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData,
            dissipating: true,
            map: map,
            radius: 40
          });
        }
      </script>
    
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={INSERT_API_KEY}&libraries=visualization&callback=initMap">
        </script>
{% endblock %}
